<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>E家人网络办公管理系统 1.0</display-name>
  <filter>
    <filter-name>com.dfkj.web.MainFilter</filter-name>
    <filter-class>com.dfkj.web.MainFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
    <init-param>
      <param-name>debug_flag</param-name>
      <param-value>on</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>com.dfkj.web.PowerFilter</filter-name>
    <filter-class>com.dfkj.web.PowerFilter</filter-class>
    <init-param>
      <param-name>flag</param-name>
      <param-value>on</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>com.dfkj.web.MainFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>com.dfkj.web.PowerFilter</filter-name>
    <url-pattern>/MainController.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AppendixFileUpload</servlet-name>
    <display-name>AppendixFileUpload</display-name>
    <description>附件文件上传</description>
    <servlet-class>com.dfkj.eoa.actions.deptwork.AppendixFileUploadService</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>FileUpload</servlet-name>
    <display-name>FileUpload</display-name>
    <description>文件上传</description>
    <servlet-class>com.dfkj.eoa.actions.documentmanage.FileUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DBServ</servlet-name>
    <display-name>DBServ</display-name>
    <description>数据库初始化</description>
    <servlet-class>com.dfkj.db.DBServ</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DbInitConfig</servlet-name>
    <servlet-class>com.dfkj.db.DbInitConfig</servlet-class>
    <init-param>
      <param-name>DbInitFile</param-name>
      <param-value>WEB-INF/classes/adapter.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DocumentFileUpload</servlet-name>
    <display-name>DocumentFileUpload</display-name>
    <description>文件上传</description>
    <servlet-class>com.dfkj.eoa.actions.document.FileUploadService</servlet-class>
  </servlet>
<servlet>
    <servlet-name>BulletinFileUpload</servlet-name>
    <display-name>BulletinFileUpload</display-name>
    <description>公告版文件上传</description>
<servlet-class>com.dfkj.eoa.actions.infogarden.FileUploadService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoFileUpload</servlet-name>
    <display-name>InfoFileUpload</display-name>
    <description>资料文件上传</description>
<servlet-class>com.dfkj.eoa.actions.infogarden.InfoUploadService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <display-name>Log4jInit</display-name>
    <description>Log4j的初始化</description>
    <servlet-class>com.dfkj.log.Log4JInit</servlet-class>
    <init-param>
      <param-name>Log4jInitFile</param-name>
      <param-value>WEB-INF/classes/Log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <display-name>MainController</display-name>
    <description>主控制器</description>
    <servlet-class>com.dfkj.web.MainController</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RegionOutput</servlet-name>
    <display-name>RegionOutput</display-name>
    <description>区域信息显示</description>
    <servlet-class>com.dfkj.eoa.actions.infogarden.RegionOutputterServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>UploadEoaHumaninfoAction</servlet-name>
		<display-name>UploadEoaHumaninfoAction</display-name>
		<description>数据库初始化 </description>
		<servlet-class>com.dfkj.eoa.actions.humaninfo.UploadEoaHumaninfoAction</servlet-class>
		<load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>treebuilders</param-name>
      <param-value>org.apache.webapp.admin.DepartTreeBuilder</param-value>
    </init-param>
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>debugjsp</servlet-name>
    <description>Added to compile JSPs with debug info</description>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>classdebuginfo</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>debugjsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppendixFileUpload</servlet-name>
    <url-pattern>/AppendixFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentFileUpload</servlet-name>
    <url-pattern>/DocumentFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BulletinFileUpload</servlet-name>
    <url-pattern>/BulletinFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoFileUpload</servlet-name>
    <url-pattern>/InfoFileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>UploadEoaHumaninfoAction</servlet-name>
	<url-pattern>/UploadEoaHumaninfoAction</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/LogoutController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegionOutput</servlet-name>
    <url-pattern>/RegionOutput</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/servlet/Log4jInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBServ</servlet-name>
    <url-pattern>/servlet/com.dfkj.db.DBServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DbInitConfig</servlet-name>
    <url-pattern>/servlet/com.dfkj.db.DbInitConfig</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/struts</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>dfkj</taglib-uri>
    <taglib-location>/WEB-INF/tlds/dfkj.tld</taglib-location>
  </taglib>
</web-app>

