BODY {
				background-color: #57B3E3;
				font-size: 9pt; 
				color: #000000; 
				font-family: "ו";
 				background-image: url("../images/bottomfrm_bg.jpg");
				background-position: right bottom;
				background-attachment: fixed;
				background-repeat: no-repeat;
}